.loginf{
    margin-top: 10%;
    width: 50%;
    margin-left: 22%;
    height: auto;

}

.form-group{
    width: 90%;
    margin: 5% 5% 5% 5%;
}

.card{
    border-radius: 5%;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
  /*  box-shadow: 10px 5px 5px #7F7F7F; */
   
    background: rgba(255, 255, 255, 0.4);
    
}

h1{
    margin-left: 40%;
    font-weight: bold;
    color: rgba(34, 44, 140, 0.84); ;
}

.form-group{
    width: 80%;
    margin-left: 10%;
}

#lig{
    background-color: hsl(252, 32%, 43%);
    height: 0.00000000001in;
    width: 65%;
    border-radius: 100%;
    margin-top: 20;
    margin-left: 20%;
}


button{
    width: 24%;
    height: 33;
    margin-left: 75%;
    margin-top: 60;
}

#groupf{
    margin-top: 60;
}

label{
    color: #696969;
}

.to_register{
    margin-left: 80%;
}
