
.nav-link{
    color: white;
}

nav{
    box-shadow: 3px 2px 9px #7F7F7F;
    background-color: transparent;
    background: rgba(34, 44, 140, 0.84); 
  /*  background-color: #584a91;  */
    border-radius: 0%;
    position: absolute;
    width: 100%;
}

#navid{
    height: 3;

}