

  <div class="raw" id="ajouter">
<div class="container-fluid mainf">

     
      <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
          <div class="container-fluid">
              <div class="row">
                  <h2></h2>
              </div>
              <div class="row" style="margin-left: 65;">
                  <h1>Update Hotel</h1>
              </div>
              <div class="row">
                  <form control="" class="form-group" (ngSubmit)="onSubmit()">
                     

                      <div class="row">
                          <input type="text" name="name_hotel" id="name_hotel" class="form__input" placeholder="Hotel Name" required [(ngModel)]="hotel.name_hotel" #name_hotel="ngModel">
                      </div>
                      <div class="row">
                          <input type="text" name="adresse" id="adresse" class="form__input" placeholder="Address" required [(ngModel)]="hotel.adresse" #adresse="ngModel">
                      </div>
                     
                      <div class="row">
                          <input type="number" name="nbEtoile" id="nbEtoile" class="form__input" placeholder="Stars" required [(ngModel)]="hotel.nbEtoile" #nbEtoile="ngModel">
                      </div>
                      <div class="row">
                          <textarea name="description" id="description" class="form__input" placeholder="Description" required [(ngModel)]="hotel.description" #description="ngModel"></textarea>
                      </div>


                 
                     
                      
                      <div class="row" style="margin-left: 60; width:450; padding-bottom: 25;padding-top: 25;">
                          <input type="submit" value="Update" class="btnSubmit btn-success">
                      </div>


                  </form>
              </div>
              
          </div>
      </div>
</div>
<!-- Footer -->
<div class="container-fluid text-center footer">
  
</div>
</div>

