<img src="assets/hotel2.jpg" alt="ME" id="imgf">

<div class="groupp">
        <div class="col-md-12 sgroupp">
            <div class="col-md-4 " style="margin-right: 8; ">
                <label style="margin-left: -28;">Destination</label>
                <input  placeholder="Destination">
            </div>
            <div class="col-md-2 inp" style="margin-right: 4; margin-left: 14;">
                <label>Arrival date</label>
                <input type="date" placeholder="Arrival date">
            </div>
            <div class="col-md-2 inp" >
                <label>Return date</label>
                <input type="date" placeholder="Return date">
            </div>
            <div class="col-md-2 inp1">
                <label>Room</label>
                <input placeholder="Room">
            </div>
            <div class="col-md-1">
                <label> </label>
                <button type="button" class="btn btn-warning">
                    <i class="fas fa-search"></i>
                </button>
            </div>
    </div>
</div>